* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #ffcfb8, #ff9eb5);
}

/* TOP HALF */
.top-container {
  width: 50%;
  margin: 20px auto 0 auto;
  text-align: center;
}

h1 {
  font-size: 4rem;
  color: #b83250;
}

.label {
  font-size: 1.2rem;
  color: #3a1f25;
  margin-bottom: 10px;
}

.liveTimer {
  font-size: 1.2rem;
  margin-bottom: 18px;
  color: #3a1f25;
}

/* PASSWORD */
input {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  border: none;
  background-color: #b83250;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

/* BOTTOM HALF */
.bottom-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* IMAGE COVER LOWER HALF WITH CORNERS */
#imageContainer {
  width: 95%;
  height: 100%;
  max-width: 1000px;
}

#imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0 0 25px rgba(0,0,0,0.25);
}
